<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shopping List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-buttons>
      <ion-button>Select All</ion-button>
      <ion-button>Delete</ion-button>
      <ion-button>Add Item</ion-button>
      <ion-button>Renew</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Shopping List</ion-card-title>
    </ion-card-header>
    <app-shopping-list></app-shopping-list>
  </ion-card>

  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button id="pantryAddModal" (click)="addShoppingItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
