<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Shopping List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shopping List</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="selectAll()">Select All</ion-button>
      <ion-button (click)="removeSelected()">Delete</ion-button>
      <!-- <ion-button>Add Item</ion-button> -->
      <ion-button>Renew</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card>
    <ion-card-content>
      <!-- Loaded if Occupied Shopping List -->
      <ion-list *ngIf="shoppingList.length > 0">
        <ion-item *ngFor="let item of shoppingList; index as i">
          <ion-checkbox slot="start" [(ngModel)]="selectedItems[i]"></ion-checkbox>
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
      </ion-list>

      <!-- Loaded if Empty Shopping List -->
      <div *ngIf="shoppingList.length == 0">
        <p>List is Empty.</p>
      </div>
    </ion-card-content>
  </ion-card>


  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button id="pantryAddModal" (click)="addShoppingItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>