<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pantry" href="/tabs/pantry">
      <ion-icon aria-hidden="true" name="storefront-outline"></ion-icon>
      <ion-label>Pantry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping" href="/tabs/shopping">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Shopping</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expiration" href="/tabs/expiration">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Expiration</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
