<div scrollY="true" *ngIf="!isEmpty()" id="shopping-list">

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of shoppingList; index as i">
          <ion-checkbox slot="start" [(ngModel)]="selectedItems[i]" (ionChange)="updateSelection(i)"></ion-checkbox>
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
        <!-- <ion-item>
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>test</ion-label>
          </ion-item> -->
      </ion-list>

      <!-- <ion-item *ngFor="let item of getItemsByCategory(category); index as i" class="noselect">
        <ion-checkbox slot="start" [(ngModel)]="item.selected" (ionChange)="updateSelection(item)"></ion-checkbox>
        <p style="font-size: medium;">{{ item.name }}</p>
        <p slot="end" style="font-size: small;">Exp: ~{{item.daysUntilExpire}} day(s)</p>
        <ion-icon *ngIf="item.daysUntilExpire > 0" slot="end" name="nutrition" [style.color]="item.expColor"></ion-icon>
        <ion-icon *ngIf="item.daysUntilExpire <= 0" name="alert-outline" slot="end" [style.color]="'red'"></ion-icon>
      </ion-item> -->

    </ion-card-content>
  </ion-card>
</div>




<div *ngIf="isEmpty()">
  <p>List is Empty.</p>
</div>