<div #coverblur id="coverblur" *ngIf="blurBackground">

</div>

<div id="blurOptions" *ngIf="blurBackground">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center gx-0">
        <ion-button size="large" (mouseup)="deleteSelected()">Delete Items</ion-button>
        <ion-button size="large" (mouseup)="addSelectedtoShopping()">Add Items to Shopping List</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pantry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- *ngIf="toolbarState == 'pantry'" -->
      <ion-title size="large">Pantry</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-buttons>
      <ion-button *ngIf="selectState == 'selectAll'" (click)="selectAll(true)">Select All</ion-button>
      <ion-button *ngIf="selectState == 'deselectAll'" (click)="selectAll(false)">Deselect All</ion-button>
      <ion-button (click)="deleteSelected()" color="danger">Delete</ion-button>
      <ion-button (click)="addSelectedtoShopping()" color="success">Add to Shopping List</ion-button>
    </ion-buttons>
</ion-toolbar>

  <!-- Select Menu Options are only shown when at least 1 object is selected -->
  <!-- 
    As of right now, there is a bug where if you manually select ALL items, it won't switch
    to deselect (same for manually deselecting & select all). But i dont think its needed 
    to test that thoroughly so i'm lazy lol.
  -->
  
  <!-- <ion-card> -->
  <!-- Pantry is empty card-->
  <ion-card *ngIf="!pantryIsOccupied">
    <ion-card-header>
      <ion-card-title>Pantry Inventory</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        List is Empty.
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Pantry is occupied card + categories -->
  <div *ngIf="pantryIsOccupied">
    <ion-list *ngFor="let category of categories" #pantryList>
      <ion-item-group *ngIf="pantryHasCategory(category)">
        <ion-item-divider>
          <ion-label>{{category}}</ion-label>
        </ion-item-divider>

        <!-- left-side sliders -->
        <!-- <ion-item-sliding *ngFor="let item of getItemsByCategory(category); index as i">
          <ion-item-options side="start">
            <ion-item-option (click)="deleteItem(category, i)" color="danger">Delete</ion-item-option>
          </ion-item-options> -->

          <!-- Name of item -->
          <ion-item *ngFor="let item of getItemsByCategory(category); index as i" class="noselect">
            <ion-checkbox slot="start" [(ngModel)]="item.selected" (ionChange)="updateSelection(item)"></ion-checkbox>
            <p style="font-size: medium;">{{ item.name }}</p>
            <p slot="end" style="font-size: small;">Exp: ~{{item.daysUntilExpire}} day(s)</p>
            <ion-icon *ngIf="item.daysUntilExpire > 0" slot="end" name="nutrition" [style.color]="item.expColor"></ion-icon>
            <ion-icon *ngIf="item.daysUntilExpire <= 0" name="alert-outline" slot="end" [style.color]="'red'"></ion-icon>
          </ion-item>

          <!-- right-side sliders -->
          <!-- <ion-item-options side="end"> -->
            <!--<ion-item-option>Option 2</ion-item-option>-->
            <!-- <ion-item-option color="success" (click)="addToShoppingList(item)">+ Shopping List</ion-item-option>
          </ion-item-options>
        </ion-item-sliding> -->
      </ion-item-group>
    </ion-list>
  </div>

  <!-- Add button on bottom of page -->
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button id="pantryAddModal" (click)="addPantryItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
