<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pantry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pantry</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Select Menu Options are only shown when at least 1 object is selected -->
  <ion-toolbar *ngIf="itemSelected > 0">
    <ion-grid>
      <ion-row>
        <ion-button *ngIf="!allSelected" (click)="selectAll(true)">Select All</ion-button>
        <ion-button *ngIf="allSelected" (click)="selectAll(false)">Deselect All</ion-button>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-modal trigger="add-item-modal" >
    <ng-template>
      <ion-header>
        <ion-title>Add Item to Pantry</ion-title>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Item Name"
            labelPlacement="stacked"
            type="text"
            placeholder="Item"
            [(ngModel)]="addedItemName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-button (click)="addItem()">Submit</ion-button>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  <!-- <ion-card> -->
  <!-- Pantry is empty card-->
  <ion-card *ngIf="!pantryIsOccupied">
    <ion-card-header>
      <ion-card-title>Pantry Inventory</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        List is Empty.
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Pantry is occupied card + categories -->
  <div *ngIf="pantryIsOccupied">
    <ion-list *ngFor="let category of categories">
      <ion-item-group *ngIf="pantryHasCategory(category)">
        <ion-item-divider>
          <ion-label>{{category}}</ion-label>
        </ion-item-divider>

        <!-- left-side sliders -->
        <ion-item-sliding *ngFor="let item of getItemsByCategory(category); index as i">
          <ion-item-options side="start">
            <ion-item-option>Option 1</ion-item-option>
          </ion-item-options>

          <!-- Name of item -->
          <ion-item>
            <ion-checkbox slot="start" [(ngModel)]="item.selected" (ionChange)="updateSelection(item)"></ion-checkbox>
            <ion-label>{{ item.name }}</ion-label>
          </ion-item>

          <!-- right-side sliders -->
          <ion-item-options side="end">
            <ion-item-option>Option 2</ion-item-option>
            <ion-item-option (click)="deleteItem(category, i)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
  </div>

  <!-- Add button on bottom of page -->
  <ion-fab horizontal="center" vertical="bottom" slot="fixed">
    <ion-fab-button id="pantryAddModal" (click)="addPantryItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
