<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EliteEats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EliteEats</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="hammer-outline" aria-hidden="true"></ion-icon>
        Tools
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-button (click)="navigateToPantryAdd()">Add Pantry Item</ion-button>

      <ion-button (click)="navigateToShoppingAdd()">Add Shopping List Item</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="briefcase-outline" aria-hidden="true"></ion-icon>
        Pantry
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-pantry-list></app-pantry-list>
    </ion-card-content>
  </ion-card>

  <!-- <ion-content style="max-height: 200px;">
    <div style="height: 200px">
      <app-shopping-list></app-shopping-list>
    </div>
  </ion-content> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
        Shopping
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Add your card content here -->
      <app-shopping-list></app-shopping-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="reader-outline" aria-hidden="true"></ion-icon>
        Expiration
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Add your card content here -->
    </ion-card-content>
  </ion-card>



</ion-content>