<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>EliteEats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">EliteEats</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="hammer-outline" aria-hidden="true"></ion-icon>
        Tools
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-button (click)="navigateToPantryAdd()">Add Pantry Item</ion-button>

      <ion-button (click)="navigateToShoppingAdd()">Add Shopping List Item</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="briefcase-outline" aria-hidden="true"></ion-icon>
        Pantry
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="ps.getPantrySize() == 0">Pantry List is Empty</p>
      <div *ngIf="ps.getPantrySize() !== 0">
        The pantry list currently contains {{ps.getPantrySize()}} items across {{ps.getPantryList().size}} categories.
        <button *ngIf="!showPantryData" (click)="showPantryData = true">Show more</button>
        <button *ngIf="showPantryData" (click)="showPantryData = false">Hide</button>
        <div *ngIf="showPantryData">
          <p *ngFor="let entry of ps.getPantryList() | keyvalue">
            {{ entry.key }} : {{entry.value.length}} item(s)
          </p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- <ion-content style="max-height: 200px;">
    <div style="height: 200px">
      <app-shopping-list></app-shopping-list>
    </div>
  </ion-content> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="cart-outline" aria-hidden="true"></ion-icon>
        Shopping
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="reader-outline" aria-hidden="true"></ion-icon>
        Expiration
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Add your card content here -->
    </ion-card-content>
  </ion-card>



</ion-content>